html{
    background-color: grey;
    background-image: url("pollBackground.jpg");
    background-size: cover;
    
}
.top {
    display: flex;
    justify-content: center;
    color: white;
}
.middle {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    gap: 15px;
}

form {
    width: 100%;
}
.middle label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.middle input[type="radio"] {
    display: none; /* REMOVES THE LITTLE CHECK BOX */
}

.middle input[type="radio"]:checked + .box {
    background-color: purple; /* COLOUR OF THE SELECTED OPTION BOX */
}

.middle input[type="radio"]:checked + .box span {
    color: white; /* COLOUR OF TEXT IN SELECTED OPTION BOX */
}

.box {
    border-radius:15px;
    border: solid white;
    width: 90%;
    max-width: 500px;
    height: 100px;
    transition: all 250ms ease;
    background-color: rgba(255,255,255,.6);
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    font-weight: bolder;
    font-size: xx-large;
    min-width: 150px;

}

button.box{
    background-color: white;
    color: purple;
}

.box:active {
    transform: translateY(10px);
}

.box span {
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    transition: all 30ms ease;
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
