:root{
    --boxMaxWidth: 700px;
    --boxHeight: 100px;
}

html{
    min-height: 100%;
    background: grey no-repeat url("pollBackground.jpg");
    background-size: 100% 100%;
}
.top {
    display: flex;
    justify-content: center;
    color: white;
}
.middle {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.middle label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle input[type="radio"] {
    display: none; /* REMOVES THE RADIO BUTTON BOX THINGY*/
}

.middle input[type="radio"]:checked + .box {
    background-color: purple; /* COLOUR OF THE SELECTED OPTION BOX */
}

.middle input[type="radio"]:checked + .box span {
    color: white; /* COLOUR OF TEXT IN SELECTED OPTION BOX */
}

.box {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: var(--boxMaxWidth);
    min-height: var(--boxHeight);
    border-radius: 15px;
    border: solid white;
    background-color: rgba(255,255,255,0.6);
    transition: all 250ms ease;
    padding: 10px;
    font-weight: bolder;
    font-size: xx-large;
}

.boxLeft, .boxRight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.boxLeft {
    flex: 5; 
}



.boxRight {
    flex: 1; 
}

button.box{
    background-color: white;
    color: purple;
}

.box:active {
    transform: translateY(10px);
}

.box span {
    font-size: xx-large;
    font-weight: bolder;
    transition: all 30ms ease;
    color: purple;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    padding: 10px;
    max-width: var(--boxMaxWidth);
}
